<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.somta.juggle.console.infrastructure.mapper.flow.FlowTagMapper" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="net.somta.juggle.console.infrastructure.po.flow.FlowTagPO" >
	<result column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="code" property="code"/>
	<result column="app_code" property="appCode"/>
	<result column="parent_code" property="parentCode"/>
	<result column="access_type" property="accessType"/>
	<result column="path" property="path"/>
	<result column="deleted" property="deleted"/>
	<result column="created_at" property="createdAt"/>
	<result column="created_by" property="createdBy"/>
	<result column="updated_at" property="updatedAt"/>
	<result column="updated_by" property="updatedBy"/>
</resultMap>

<sql id="Example_Where_Clause">
	where 1=1 and deleted=0
	<if test="code != null and code != ''">
		and code = #{code}
	</if>
	and app_code = #{appCode}
</sql>
       
<!-- t_object table all fields -->
<sql id="Base_Column_List" >
	id, app_code, name, code, parent_code, access_type, path, created_at, created_by, updated_at, updated_by, deleted
</sql>

<insert id="add" parameterType="net.somta.juggle.console.infrastructure.po.flow.FlowTagPO" >
	insert into t_flow_tag (id, app_code, name, code, parent_code, access_type, path, deleted, created_at, created_by, updated_at, updated_by)
	values (#{id},#{appCode},#{name},#{code},#{parentCode},#{accessType},#{path},0,now(),#{createdBy},now(),#{updatedBy});
</insert>

<delete id="deleteById" parameterType="java.lang.Long">
 delete from t_flow_tag where id=#{id}
</delete>

<update id="update" parameterType="net.somta.juggle.console.infrastructure.po.flow.FlowTagPO" >
	update t_flow_tag set
	<trim  suffixOverrides="," >
		<if test="name != null and name != ''">
			name=#{name},
		</if>
		<if test="code != null and code != ''">
			code=#{code},
		</if>
		<if test="appCode != null and appCode != ''">
			app_code=#{appCode},
		</if>
		<if test="parentCode != null and parentCode != ''">
			parent_code=#{parentCode},
		</if>
		<if test="accessType != null and accessType != ''">
			access_type=#{accessType},
		</if>
		<if test="path != null and path != ''">
			path=#{path},
		</if>
		<if test="deleted != null">
			deleted=#{deleted},
		</if>
		<if test="createdAt != null">
			created_at=#{createdAt},
		</if>
		<if test="createdBy != null">
			created_by=#{createdBy},
		</if>
		updated_at=now(),
		<if test="updatedBy != null">
			updated_by=#{updatedBy},
		</if>
	</trim> where id=#{id}
</update>

<select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" />
	from t_flow_tag where id = #{id}
</select>

<select id="queryListCount" resultType="java.lang.Long" parameterType="net.somta.juggle.console.interfaces.param.flow.FlowTagQueryParam">
	select count(*)
	from t_flow_tag
	<include refid="Example_Where_Clause"/>
</select>

<select id="queryByList" resultMap="BaseResultMap" parameterType="net.somta.juggle.console.interfaces.param.flow.FlowTagQueryParam">
	select <include refid="Base_Column_List" />
	from t_flow_tag
	<include refid="Example_Where_Clause"/>
</select>

</mapper>   
