<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.somta.juggle.console.infrastructure.mapper.flow.FlowTagRelationMapper" >
	<delete id="deleteFlowTagByFlowDefinitionId">
		delete from t_flow_tag_relation
		where flow_definition_id = #{flowDefinitionId}
		  and app_code = #{appCode}
	</delete>

	<delete id="deleteFlowTagByFlowTagId">
		delete from t_flow_tag_relation
		where tag_id = #{flowTagId}
		  and app_code = #{appCode}
	</delete>

	<insert id="batchAdd">
		insert into t_flow_tag_relation (app_code, tag_id, flow_definition_id, created_at, created_by, updated_at, updated_by)
		values
		<foreach collection ="flowTagRelationPOList" item="item" separator =",">
			(#{item.appCode},#{item.tagId},#{item.flowDefinitionId},now(),#{item.createdBy},now(),#{item.updatedBy})
		</foreach>
	</insert>

	<select id="queryByFlowInstanceIds" resultType="net.somta.juggle.console.domain.flow.definition.vo.FlowTagRelationVo">
		select
			t1.id, t1.app_code, t1.tag_id, t1.flow_definition_id, t2.name as tagName
		from t_flow_tag_relation t1 inner join t_flow_tag t2 on t1.tag_id=t2.id
		where t1.flow_definition_id in
		<foreach collection ="flowDefinitionIdList" item="item" separator ="," open="(" close=")">
			#{item}
		</foreach>
		and (t2.access_type = 'public' or (t2.access_type = 'private' and t2.created_by = #{userId}))
		order by t2.created_at
	</select>
</mapper>
